.orders-list {
  margin: 10px 0;
  padding-left: 0;
  .open {
    background-color: $open-color;
  }

  .finalized {
    background-color: $finalized-color;
  }

  .ordered {
    background-color: $ordered-color;
  }

  .delivered {
    background-color: $delivered-color;
  }

  .archived {
    background-color: $archived-color;
  }
}

ul.pagination li {
  cursor: pointer;
}

ul.pagination li.break-me {
  cursor: default;
}
