.sum-of-costs {
  text-align: right;
  padding: 15px;
}

.order-status-link {
  color: black;
  margin-right: 5pt;
  padding: 5pt;
  border-radius: 5px;
  @include colors();
}
.order-status {
  &.open {
    color: $open-color;
  }

  &.finalized {
    color: $finalized-color;
  }

  &.ordered {
    color: $ordered-color;
  }

  &.delivered {
    color: $delivered-color;
  }
}

.status-head {
  color: black;
}
