.orders-list {
  margin: 10px 0;
  padding-left: 0;
}

.orders-list .open {
  background-color: lime;
}

.orders-list .finalized {
  background-color: blue;
}

.orders-list .ordered {
  background-color: orange;
}

.orders-list .delivered {
  background-color: green;
}

.orders-list .archived {
  background-color: gray;
}

ul.pagination li {
  cursor: pointer;
}

ul.pagination li.break-me {
  cursor: default;
}
